<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authentication</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="text-center">
      <br />
      <h3>WELCOME TO SAMSUNG</h3>
      <br />
      <h3>hi {{fname}}</h3>
      <h5>You Are Succesfully logged in</h5>
      <br />
      <div class="card m-auto" style="width: 18rem">
        <img
          src="https://images.samsung.com/in/smartphones/galaxy-s22-ultra/buy/S22Ultra_ColorSelection_Burgundy_MO.jpg?imwidth=480"
          class="card-img-top "
          alt=""
        />
        <div class="card-body">
          <h5 class="card-title">SAMSUNG S22 ULTRA</h5>
          <p class="card-text">
            256GB | 12GB ₹9166.58/month for 12 months or ₹109999.00
          </p>
          <a href="#" class="btn btn-primary">BUY NOW</a>
        </div>
      </div>
      <br />
      <a style="text-decoration: none" href="signout">
        <button type="submit" class="btn btn-outline-primary">
          sign out
        </button></a
      >
    </div>
  </body>
</html>
